version: '3.9'

services:
  postgres:
    image: postgres:16-alpine
    container_name: pma_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: pma_user
      POSTGRES_PASSWORD: pma_password
      POSTGRES_DB: project_management
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U pma_user -d project_management']
      interval: 10s
      timeout: 5s
      retries: 5

  mongo:
    image: mongo:7
    container_name: pma_mongo
    restart: unless-stopped
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ['CMD', 'mongosh', '--eval', "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
  mongo_data:
